@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UKSF</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <script src="https://use.fontawesome.com/caf8229c61.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <script src="https://use.fontawesome.com/caf8229c61.js"></script>
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">United Kingdom Special Forces</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a href="@Url.Action("Index","Home")#News">News</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Joinus">Join Us</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Media</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">FAQs</a></li>
                </ul>
            </div>
        </div>
    </nav>
        <header id="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-text">
                            <span class="name">United Kingdom Special Forces</span>
                            <span class="intro-text"><b>Be the best, become the best.</b></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <div class="content-wrapper">
        <div class="container body-content">
            @RenderBody()
        </div>
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 footerleft ">
                            <div class="logofooter">United Kingdom Special Forces</div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                            <p><i class="fa fa-microphone"></i>ts3.uk-sf.com</p>

                        </div>
                        <div class="col-md-2 col-sm-6 paddingtop-bottom">
                            <h6 class="heading7">GENERAL LINKS</h6>
                            <ul class="footer-ul">
                                <li><a href="@Url.Action("Index","Home")#News> News</a></li>
                                <li><a href="#"> About us</a></li>
                                <li><a href="#"> Join us</a></li>
                                <li><a href="#"> Media</a></li>
                                <li><a href="#"> Frequently Ask Questions</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 paddingtop-bottom">
                            <h6 class="heading7">LATEST ENTRIES</h6>
                            <div class="post">
                                <p>Operation Kingslayer<span> Written by UKSF Command Staff</span></p>
                                <p>Operation Crusader<span> Written by UKSF Command Staff</span></p>
                                <p>Recruitment Drive<span> Written by UKSF Command Staff</span></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 paddingtop-bottom">
                            <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                <div class="fb-xfbml-parse-ignore">
                                    <a target="_blank" href="https://www.facebook.com/uksf.net/" style="padding-right:15px;"><i class="fa fa-facebook-official fa-5x" style="color:white;" aria-hidden="true"></i></a>
                                    <a target="_blank" href="https://www.youtube.com/user/UKSFArmAOfficial"><i class="fa fa-youtube fa-5x" style="color:white;" aria-hidden="true"></i></a>
                                    <a target="_blank" href="https://uksf.slack.com"><i class="fa fa-slack fa-5x" style="color:white;" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

    </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
</body>
</html>
